<template>
    <div class="relative">

            <div class="absolute top-3 right-3">
                <router-link :to="{ name: 'addword' }">
                    <span class="text-red">+</span> <span class="text-white">Add word</span>
                </router-link>
            </div>

            <div class="text-center pt-1/4 md:pt-1/12">
                <div v-if="$route.path === '/'">
                    <router-link
                        :to="{ name: 'learn' }" class="
                        transition duration-500 ease-in-out
                        bg-transparent hover:bg-gray-700
                        p-2 px-3
                        border-2
                        text-yellow hover:text-green text-lg font-bold
                    ">Start now!</router-link>
                </div>

                <div class="absolute top-2 left-2" v-if="$route.path !== '/'">
                     <HomeButton></HomeButton>
                </div>

                <div class="container mx-auto">

                    <div class="grid grid-cols-1 md:grid-cols-none md:inline-flex md:content-center md:w-1/3 justify-center" v-if="$route.path === '/learn'">
                        <div class="mb-6 md:mb-0 md:pr-2 w-18">
                            <router-link
                                :to="{ name: 'beginner' }"
                                class="
                                transition duration-500 ease-in-out
                                text-green text-lg font-bold
                                border-2
                                p-2
                                hover:bg-gray-700
                            ">Beginner</router-link>
                        </div>

                        <div class="mb-6 md:mb-0 md:pr-2 w-18">
                            <router-link
                                :to="{ name: 'intermediate' }"
                                class="
                                transition duration-500 ease-in-out
                                text-purple text-lg font-bold
                                border-2
                                p-2
                                hover:bg-gray-700
                            ">Intermediate</router-link>
                        </div>

                        <div class="mb-6 md:mb-0 w-18">
                            <router-link
                                :to="{ name: 'advanced' }"
                                class="
                                transition duration-500 ease-in-out
                                text-red text-lg font-bold
                                border-2
                                p-2
                                hover:bg-gray-700
                            ">Advanced</router-link>
                        </div>
                    </div>

                </div>
            </div>

    </div>
</template>

<script>
import HomeButton from "@/views/parts/HomeButton";

export default {
    name: "Header",
    components: { HomeButton },
    data() {
        return {
            auth: window.auth
        }
    }
}
</script>
