<template>
    <div>
        <router-link
            :to="{ name: 'home' }"
            class="
                    text-white
                    text-lg
                    font-bold
                    p-2
        "><</router-link>
    </div>
</template>

<script>
export default {
name: "HomeButton"
}
</script>

