<template>
    <div v-if="correct === false" id="modal" class="h-screen w-full fixed left-0 top-0 flex justify-center items-center bg-black bg-opacity-50">
        <div class="bg-gray-800 rounded shadow-lg w-3/4 md:w-1/4">
            <!-- modal header -->
            <div class="px-4 py-2 flex justify-between items-center">
                <h3 class="font-semibold text-lg text-red">Try again!</h3>
                <button class="text-white" id="close-modal" @click="close()">&cross;</button>
            </div>
            <!-- modal body -->
            <div class="p-4 text-left text-white">
                You didn't select a correct answer. Try again :)
            </div>
            <div class="flex justify-end items-center w-100 p-3">
                <button class="bg-green-500 hover:bg-green-400 px-3 py-1 rounded font-bold text-black" @click="close()">Ok...</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Modal",
    props: ['correct'],
    methods: {
        close() {
            return this.$parent.correct = null;
        }
    }
}
</script>

<style scoped>

</style>
