<template>
    <div class="text-center pt-1/6 md:pt-12">
        <transition-group name="slide-up" tag="h1" mode="out-in" appear>
            <h1 v-if="words.words[currentWord] && currentWord < wordCount" class="transition duration-300 text-6xl text-white" id="hanzi" key="1">{{ words.words[currentWord].hanzi }}</h1>
            <h1 v-else-if="currentWord === wordCount" class="text-lg text-green" key="2">You have learned<br/><span class="text-red">{{ wordCount }}</span> new words!</h1>
            <h1 v-else class="text-xl text-white" key="3">Loading...</h1>
        </transition-group>

        <div v-if="words.words[currentWord] && currentWord < wordCount" class="pt-1/6 md:pt-1/12">
            <button v-if="showPinyin === false" @click="showPinyin = true">
                <span class="text-xl text-purple">></span><span class="text-xl text-red">></span>
                <span class="text-xl text-white">Pinyin</span>
            </button>
            <transition name="fade" mode="out-in">
                <p v-if="showPinyin === true" class="text-xl text-white">{{ words.words[currentWord].pinyin }}</p>
            </transition>
        </div>

        <div v-if="words.words[currentWord] && currentWord < wordCount" class="pb-12">
            <button v-if="showTrans === false" @click="showTrans = true">
                <span class="text-xl text-green">></span><span class="text-xl text-yellow">></span>
                <span class="text-xl text-white">Translation</span>
            </button>
            <transition name="fade" mode="out-in">
                <p v-if="showTrans === true" class="text-xl text-white">{{ words.words[currentWord].translation }}</p>
            </transition>
        </div>

        <div class="w-1/3 md:w-1/12 mt-12 mx-auto inline" v-if="currentWord < wordCount">
            <p class="text-white text-sm pb-3">word {{ currentWord+1 }} of {{ wordCount}}</p>
            <hr class="w-1/4 md:w-1/12 mx-auto">
            <button v-if="currentWord >= 1" class="transition duration-300 mt-6 text-white text-lg border p-2 hover:bg-gray-700" @click="previous(currentWord)">Previous</button>
            <button v-if="currentWord <= wordCount" class="transition duration-300 mt-6 text-white text-lg border p-2 hover:bg-gray-700" @click="next(currentWord)">Next</button>
        </div>

        <div class="w-3/4 md:w-1/12 mt-12 mx-auto" v-else>
            <router-link class="transition duration-300 mt-6 text-white text-lg border p-2 hover:bg-gray-700" :to="{ name: 'learn' }">Learn again</router-link>
        </div>


    </div>
</template>

<script>
import { mapState } from "vuex";

export default {
    name: "New",
    props: ['level'],
    data() {
        return {
            currentWord: 0,
            wordCount: 10,
            showTrans: false,
            showPinyin: false
        }
    },
    mounted() {
        this.$store.dispatch('words/new', this.level);
    },
    computed: {
        ...mapState(['words']),
    },
    methods: {
        next: function(current) {
            let hanzi = document.getElementById("hanzi");
            hanzi.style.opacity = "0";

            setTimeout(() => {
                this.showTrans = false;
                this.showPinyin = false;
                if (current < this.wordCount) {
                    return this.currentWord = current+1;
                }
            }, 300);
        },
        previous: function(current) {
            let hanzi = document.getElementById("hanzi");
            hanzi.style.opacity = "0";

            setTimeout(() => {
                this.showTrans = false;
                this.showPinyin = false;
                if (current < this.wordCount) {
                    return this.currentWord = current-1;
                }
            }, 300);
        }
    },
    watch: {
        currentWord() {
            let hanzi = document.getElementById("hanzi");
            setTimeout(() => {
                hanzi.style.opacity = "1";
            }, 200);
        }
    },
}
</script>

<style scoped>
.slide-up-enter {
    transform: translateX(10px);
    opacity: 0;
}

.slide-up-enter-active,
.slide-up-leave-active {
    transition: all 0.3s ease;
}

.slide-up-leave-to {
    transform: translateX(-10px);
    opacity: 0;
}

.slide-up-move {
    transition: opacity .5s ease-in-out;
}
</style>
