<template>
    <div class="text-center md:pt-1/12">
        <div v-if="Object.entries(words.words)[currentWord] && currentWord < wordCount">
            <h1 class="transition duration-300 text-6xl text-white mb-12" id="hanzi">{{ Object.entries(words.words)[currentWord][1].hanzi }}</h1>

            <button v-if="showPinyin === false" @click="showPinyin = true">
                <span class="text-xl text-purple">></span><span class="text-xl text-red">></span>
                <span class="text-xl text-white">Pinyin hint</span>
            </button>
            <transition name="fade" mode="out-in">
                <p v-if="showPinyin === true" class="text-xl text-white">{{ Object.entries(words.words)[currentWord][1].pinyin }}</p>
            </transition>

            <div class="md:w-1/3 mx-auto mt-1/6 md:mt-1/12">
                <p class="text-white text-sm">
                    word {{ currentWord+1 }} of {{ wordCount}}
                </p>
                <p class="text-white mb-4">Select correct translation:</p>
                <button v-for="o in optionsArr" class="transition duration-200 hover:bg-gray-600 text-white text-lg border p-2 m-2" @click="verify(o)">
                    {{ o }}
                </button>
            </div>

            <Modal :correct="correct"></Modal>
        </div>

        <div v-else>
            <p class="text-white text-xl pb-12"><span class="text-red">Congrats!</span> You reviewed <span class="text-yellow">10</span> words :)</p>
            <router-link class="transition duration-300 mt-6 text-white text-lg border p-2 hover:bg-gray-700" :to="{ name: 'learn' }">Try again</router-link>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import Modal from "@/views/parts/Modal";

export default {
    name: "Train",
    props: ['level'],
    components: { Modal },
    computed: {
        ...mapState(['words']),
        optionsArr: function() {
            this.options = [
                Object.entries(this.words.words)[this.currentWord][1].translation,
                Object.entries(this.words.words)[this.currentWord][1].option1,
                Object.entries(this.words.words)[this.currentWord][1].option2
            ]

            //fisher-yates algoritmus
            for (let i = (this.options.length - 1); i > 0; i--) {
                const j = Math.floor((Math.random() * (i + 1)));
                [this.options[i], this.options[j]] = [this.options[j], this.options[i]];
            }

            return this.options;
        }
    },
    data() {
      return {
          currentWord: 0,
          wordCount: 10,
          showPinyin: false,
          options: Array,
          correct: null
      }
    },
    mounted() {
        this.$store.dispatch('words/train', this.level);
    },
    methods: {
        next: function(order) {
            this.correct = null;
            return this.currentWord++;
        },
        verify: function(str) {
            if (str === Object.entries(this.words.words)[this.currentWord][1].translation) {
                let hanzi = document.getElementById("hanzi");
                hanzi.style.color = "#71cd21"

                setTimeout(() => {
                    hanzi.style.color = "#d6d3cd";
                    this.currentWord++;
                    this.showPinyin = false;
                }, 550);

                return this.correct = true;
            } else {
                return this.correct = false;
            }
        }
    }
}
</script>

<style scoped>

</style>
