@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
    overflow: hidden;
}

.fadeout {
    opacity: 0;
    transition: 0.5s all;
}

.active {
    color: #a49ad6;
}
