<template>
    <div>
        <div>
            <Header></Header>
        </div>

        <div>
            <transition name="slide-fade" mode="out-in">
                <router-view></router-view>
            </transition>
        </div>

        <div class="absolute w-full bottom-2 text-center invisible md:visible">
            <p class="text-white text-sm">
                &copy; 2021 <a href="https://radimhejduk.cz">radimhejduk.cz</a>
            </p>

        </div>
    </div>
</template>

<script>
import Header from './parts/Header';

export default {
    name: "App",
    components: { Header },
}
</script>

<style>
.fade-enter {
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease-out;
}

.fade-leave-to {
    opacity: 0;
}

.slide-fade-enter {
    transform: translateX(10px);
    opacity: 0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
    transition: all 0.3s ease;
}

.slide-fade-leave-to {
    transform: translateX(-10px);
    opacity: 0;
}

</style>
