<template>
    <div class="mx-auto text-center">
        <form method="POST" @submit.prevent="insert">
            <input type="hidden" name="_token" :value="csrf">

            <h1 class="text-3xl font-bold text-white">Add word</h1>
            <p class="text-white text-sm">Suggest new word. Please fill all of the fields.</p>

            <div class="pt-4 md:pt-12 text-lg md:text-xl text-white grid md:grid-cols-2 w-3/4 md:w-1/4 mx-auto">
                <div class="md:text-left"><label>Chinese characters:</label></div>
                <div><input name="hanzi" type="text" v-model="hanzi" placeholder="汉字" class="bg-transparent border p-2 w-full"></div>
            </div>

            <div class="pt-4 md:pt-12 text-lg md:text-xl text-white grid md:grid-cols-2 w-3/4 md:w-1/4 mx-auto">
                <div class="md:text-left"><label>Pinyin:</label></div>
                <div><input name="pinyin" type="text" v-model="pinyin" placeholder="Pīnyīn" class="bg-transparent border p-2 w-full"></div>
            </div>

            <div class="pt-4 md:pt-12 text-lg md:text-xl text-white grid md:grid-cols-2 w-3/4 md:w-1/4 mx-auto">
                <div class="md:text-left"><label>Translation:</label></div>
                <div><input name="translation" type="text" v-model="translation" placeholder="Translation" class="bg-transparent border p-2 w-full"></div>
            </div>

            <div class="pt-4 md:pt-12 text-lg md:text-xl text-white grid md:grid-cols-2 w-3/4 md:w-1/4 mx-auto">
                <div class="md:text-left"><label>Level:</label></div>
                <div>
                    <select name="level" v-model="level" class="bg-transparent border p-2 w-full">
                        <option value="beginner" selected>Beginner</option>
                        <option value="intermediate">Intermediate</option>
                        <option value="advanced">Advanced</option>
                    </select>
                </div>
            </div>

            <div class="pt-12 text-lg md:text-xl text-white text-right w-3/4 md:w-1/4 mx-auto">
                <button class="g-recaptcha transition duration-300 border p-2 hover:bg-gray-700" :disabled="status === 'submitting'">Submit</button>
            </div>

            <vue-recaptcha
                ref="recaptcha"
                :loadRecaptchaScript="true"
                @verify="onCaptchaVerified"
                @expired="onCaptchaExpired"
                size="invisible"
                sitekey="6Ld-oxoaAAAAALxP1gBsycSqv6y3BWoCZDgtDn0R">
            </vue-recaptcha>

        </form>

        <SuccessModal :success="success"></SuccessModal>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import SuccessModal from "@/views/parts/SuccessModal";
import VueRecaptcha from 'vue-recaptcha';

export default {
    name: "AddWord",
    components: { SuccessModal, VueRecaptcha },
    computed: {
      ...mapState(['pendings']),
    },
    methods: {
        insert() {
            //this.status = "submitting";
            this.$refs.recaptcha.execute();
        },
        onCaptchaVerified: function (recaptchaToken) {
            let pending = {
                hanzi: this.hanzi,
                pinyin: this.pinyin,
                translation: this.translation,
                level: this.level,
                recaptcha: recaptchaToken,
            };

            this.status = "submitting";
            this.$refs.recaptcha.reset();
            this.$store.dispatch('pendings/new', pending)
                .then((response) => {

                    if(response.status === 'ok') {
                        this.success = true;
                        this.status = null;
                        this.hanzi = null;
                        this.pinyin = null;
                        this.translation = null;
                    } else {
                        this.success = false;
                    }

                }).catch((err) => {
                    console.log(err)
                });


        },
        onCaptchaExpired: function () {
            this.$refs.recaptcha.reset();
        }
    },
    data() {
        return {
            hanzi: null,
            pinyin: null,
            translation: null,
            level: 'beginner',
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            success: null,
            status: null,
        }
    },
}
</script>

<style scoped>

</style>
