<template>
    <div>
        <div v-if="mode === 'new'">
            <New :level="'advanced'"></New>
        </div>

        <div v-else>
            <Train :level="'advanced'"></Train>
        </div>
    </div>
</template>

<script>
import New from './mode/New';
import Train from './mode/Train';

export default {
    name: "Beginner",
    components: { New, Train },
    data() {
        return {
            mode: localStorage.mode,
        }
    }
}
</script>

<style scoped>

</style>
