<template>
    <div>
        <div class="text-center text-sm mt-12">
            <p class="text-white">
                Learn and review<br>chinese tech vocabulary!
            </p>
        </div>

        <div class="text-center mt-1/6 md:mt-1/12">
            <div>
                <h1 class="text-6xl text-white">{{ words.word ? words.word.hanzi : '...' }}</h1>
            </div>

            <div>
                <div class="pt-1/6 md:pt-1/12">
                    <button v-if="showPinyin === false" @click="showPinyin = true">
                        <span class="text-xl text-purple">></span><span class="text-xl text-red">></span>
                        <span class="text-xl text-white">Pinyin</span>
                    </button>
                    <transition name="fade">
                        <p v-if="showPinyin === true" class="text-xl text-white">{{ words.word.pinyin }}</p>
                    </transition>
                </div>

                <div class="pt-2">
                    <button v-if="showTrans === false" @click="showTrans = true">
                        <span class="text-xl text-green">></span><span class="text-xl text-yellow">></span>
                        <span class="text-xl text-white">Translation</span>
                    </button>
                    <transition name="fade">
                        <p v-if="showTrans === true" class="text-xl text-white">{{ words.word.translation }}</p>
                    </transition>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import { mapState } from 'vuex'

export default {
    name: "Home",
    data() {
        return {
            showPinyin: false,
            showTrans: false,
        }
    },
    computed: {
        ...mapState(['words'])
    },
    mounted() {
        this.$store.dispatch('words/randomWord');
    }
}
</script>

