<template>
    <div class="text-center mt-1/4 md:mt-1/12">
        <p class="mb-6">
            <span class="text-2xl text-white">Mode</span>
        </p>


                <div class="pretty p-default p-round mb-4 justify-center">
                    <input type="radio" name="mode" checked @click="setMode('new')">
                    <div class="state p-danger-o">
                        <label class="text-xl text-white">Learn new</label>
                    </div>
                </div>

                <div class="pretty p-default p-round">
                    <input type="radio" name="mode" @click="setMode('train')">
                    <div class="state p-success-o">
                        <label class="text-xl text-white">Review</label>
                    </div>
                </div>

    </div>
</template>

<script>
export default {
    name: "Learn",
    mounted() {
      localStorage.mode = 'new';
    },
    methods: {
        setMode: function(mode) {
            localStorage.mode = mode;
        }
    }
}
</script>

<style scoped>

</style>
